<!DOCTYPE html5>




<body>

<h1>
Website Purpose
</h1>

<br>

<p>
Overall this website is a personal project to learn HTML, CSS, and flask.
Through using Apache and a Raspberry Pi 3, the website is hosted so that
I can try to put up other projects with an interactable interface.
</p>

<br><br>
<h1>
About Me
</h1>

<p>
My name is Ken Shaffer, and I am currently studying at the University of
California, San Diego as the class of 2019 with a major in Computer 
Engineering and a minor in Cognitive Science. I am interested in learning
 more about Artifical Intelligence, Data Science, and Simulating during 
my College career. Overall my goal is to learn all kinds of information 
from a variety of fields, and in turn, combine them together, utilizing the
different perspective and knowledge to solve problems and create amazing
devices or programs.  
</p>

</body>



