<!DOCTYPE html>

<head>
<link rel="stylesheet" type="text/css" href="static/style.css" media="screen" />
<title>
    Welcome to the test website!
</title>
</head>

<h1 id="top">
Hello World!
</h1>

<body>
This test website body contains info that is not currently placed onto the
website. <b> Look at the design of the website while you are at it </b>

<hr />

<abbr title="Hello There"><a href="http:///www.Ucsd.edu">
Test Abbreviation
</a></abbr>

<h1> A list of stuff </h1>
<ul>
    <li>first things</li>
        <ol>
            <li>first thing of first things</li>
            <li>second thing of first things</li>
        </ol>
    <li><a href="/second_page" target="_blank"> second thing</a></li>
    <li> third thing </li>
</ul>

<p>
<a href="#top">
test top
</a>
</p>

</body>



